<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='UTF-8'>
	<title>NextMail--bank_details</title>
	<link rel="stylesheet" href="static/search.css">
	<link rel="stylesheet" href="static/main.css">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

</head>

<body>
<div id="wrapper">
  <div id="left">
		
			<br><br><br><br>
			<center><h1>Bank Names</h1>
			<div id="bank-names">
				<select id="bank_names_list"></select>
			</div>
			<br><br>
			<h1>Search city</h1></center>
			<section class="main">
	 			<form class="search">
				 	<input type="text" id="city_keyword" name="query" placeholder="Search..." autocomplete="off" />
				 	<ul class="results" id = "results_append">
				 		</ul>    
		 		</form>

		</section>

  </div>


  <div id="right" style="overflow-y: scroll; height:800px;">
  	

</div>
</div>
</body>
<script src="/static/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="/static/socket_connect.js"></script>
</html>